{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>
    <section class="selection">
        {% include 'navbar.html' %}
        <div class="container">
        {% block content %}
        {% endblock content %}
        </div>
    </section>

    <footer class="footer">
            <h6 class="is-size-4 mb-4">copyright(c) Askvart  2022 ver.002</h6>
    </footer>

</body>
</html>